* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/computer-4795762.jpg);
    background-size: contain;
    
}
.menu {
    width: 500px;
    height: 800px;
    background-color: rgba(35, 187, 187, 1);
    margin: 50px auto;
    padding: 30px;
    border-top-left-radius: 40px;
    box-shadow: 0 4px 8px gray;
}
hr {
    height: 5px;
    background-color:rgba(78, 31, 31, 0.457);
}
.software-mentaince {
    text-align: center;

}
.software-mentaince h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
     text-transform: uppercase;
}
.software-mentaince p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 12px auto 7px;
}
.pc-mentaince {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto 0;
}
.pc-mentaince h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
     text-transform: uppercase;
}
.pc-mentaince img {
display: block;
margin: 10px auto 5px;
}
.pc-mentaince p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px auto;
}
.pc-mentaince .name {
    display: inline-block;
    width: 350px;
    height: auto;
     
}
.pc-mentaince .price {
    display: inline-block;
    width: 90px;
    height: auto;
   
}


.phone-mentaince {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
}
.phone-mentaince h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
   
}
.phone-mentaince img {
display: block;
margin: 10px auto 5px;
}
.phone-mentaince p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px auto;
}
.phone-mentaince .name {
    display: inline-block;
    width: 350px;
    height: auto;
     
}
.phone-mentaince .price {
    display: inline-block;
    width: 90px;
    height: auto;
   
}
.address {
    margin: 10px;
}
.address h3 {
    text-align: center;
    font-weight: 300;
    font-family: impact;
}
.address p {
text-align: center;
font-size: 15px;
margin: 7px auto;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.address .left-side {
    display: inline-block;
    width: 250px;
    height: auto;
}
.address .right-side {
    display: inline-block;
    width: 120px;
    height: auto;
    right: 0px;
}
.address .wldu {
    text-align: center;
    margin: 10px auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.address .right-side a img {
    width: 30px;
    height: 30px;
}